* {
    box-sizing: border-box;
}

html{
    font-size: calc(1em + 1vw);
}

#grid-contain{
    display: grid;
    grid-template-areas: "header" "main" "footer" ;
}

/* Forside css */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #fff;
    max-width: 1600px;
}

header{
    background-image: url("img/computer-2982270_1280.jpg");
    text-align: center;
    padding: 0 0 1rem 0;
    grid-area: header;
}

header nav{
    margin: 1rem 0 0 0;
    padding: 0;
    
}

header nav ul{
    list-style: none;
    text-align: center;
    padding: 0;
}

nav a{
    text-decoration: none;
    color: #000;
    padding: 1rem;
    display: inline-block;    
}

main{
    text-align: center;
    grid-area: main;
}


#headline{
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #ececec;
}

#subheading{
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

#about-section{
    background-color: #e6bd43;
    padding: 3rem;
    text-align: left;
}

#about-section img{
    width: 90%;
    height: auto;
}

#about-section p {
    margin-bottom: 3rem;
}

#more-about{
    background-color: #e6bd43;
    color: #000;
    border: 2px solid #000;
    text-decoration: none;
    padding: 1rem;
}

#services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.5rem;
    justify-content: space-around;
}

#services h3{
    width: 100%;
    text-align: center;
}

#services article{
    max-width: 300px;
    width: 100%;
    min-width: 200px;
}

#newsletter form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #efefef;
}


#newsletter input {
    width: 250px;
    height: 40px;
    border: none;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}

#newsletter input::placeholder {
    padding-left: 1rem;
}

#newsletter button {
    width: 100px;
    height: 40px;
    border: none;
    margin: 0;
    padding: 0;
    background-color: #e6bd43;
    color: #000;
    font-weight: bold;
}

#newsletter label{
    font-weight: bold;
}

.read-more-btn{
    background-color: #e6bd43;
    color: #000;
    padding: 0.5rem;
    text-decoration: none;
}

input[type=submit] { /*Denne css er inspirert fra samme side som jeg hentet kontaktskjema kodetipset */
    background-color: #e6bd43;
    color: #000;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin: 0.5rem;
    border: none;
}

footer{
    text-align: center;
    background-color: #252525;
    color: #fff;
    padding: 1rem;
    grid-area: footer;
}

footer ul {
    padding: 0;
}

footer li{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0.5rem;
}

footer a{
    text-decoration: none;
    color: #fff;
}

.fa-brands {
    font-size: 30px;
} 

/*Products siden*/

#bakgrunn{
    background-color: #efefef;
    padding: 2rem;
}
.portfolio-btn{
    padding: 0.5rem;
    color: #000;
    text-decoration: none;
    margin: 0.3rem;
    border: 2px solid #000;
    text-align: left;
}

.underline{
    border-bottom: 3px solid #e6bd43;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 90%;
    margin-left: 1.5rem;
}

#branding{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#branding article img{
    width: 90%;
    height: auto;
}

#design{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#design article img{
    width: 90%;
    height: auto;
}

#dev{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#dev article img{
    width: 90%;
    height: auto;
}

#branding article{
    margin: 1rem;
}

#design article{
    margin: 1rem;
}

#dev article{
    margin: 1rem;
}



/*About siden*/
#company-name{
    /*
    Bakgrunns bilde loader ikke inn, derfor velger jeg og legge til farger. Har sjekket med chatGPT, men fikk ikke godt svar.
    background-image: url(/img/computer-2982270_1280.jpg);
    background-size: auto;
    */
    background-color: #9c9c9c;
    padding: 3rem;
}

#company-name article{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
}

#clients{
    background-color: #e6bd43;
    padding: 1rem;
    margin: 0;
}

#contact{
    background-color: #efefef;
    padding-top: 2rem;
}

#contact div form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#contact div article{
    padding: 2rem;

}


#submit-knapp{
    padding: 0.5rem;
}
#name{
    border-style: none;
    padding: 0.5rem;
}

#subject{
    border-style: none;
    padding: 0.5rem;
}

#message{
    border-style: none;
    padding: 0.5rem;
}
/*kart*/

#map{
    height: 35vh;
    width: 100%;
}
/* implementerer media querries*/ 
@media only screen and (min-width: 600px){

    #grid-contain{
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }

    header nav span{
        float: left;
    }
    
    header nav ul{
        float: right;
        margin: 0;
        padding-right: 1rem;
    }

    header nav ul li{
        display: inline-block;
    }

    header nav{
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5rem;
    }

    footer div{
        float: left;
    }

    footer ul{
        float: right;
    }



    /*Forsiden*/

    #about-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #about-section article{
        padding-left: 2rem;
    }

    #about-section img{
        width: 200%;
        height: auto;
        padding-right: 2rem;
    }

    #about-section p{
        width: 80%;
        font-size: 0.8rem;
    }

    #more-about{
        font-size: 0.7rem;
    }

    #contact div{
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    #contact div article{
        text-align: left;
    }

    #contact div form{
        padding-left: 2rem;
    }

}